---
layout: ""
page_title: "Provider: Kind"
description: |-
  Terraform provider for managing Kind clusters
---

# Kind Provider

Terraform provider for managing [Kind](https://kind.sigs.k8s.io/) clusters (Kubernetes clusters using Docker).

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}