---
layout: ""
page_title: "Data Source: Cluster"
description: |-
    Get information about a Kind Cluster
---

# Kind Provider

Get information about a Kind Cluster

## Example Usage

{{tffile "examples/data-sources/cluster/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}